extends layout

block content
  h1= title
  p Welcome!
  p Mi #[a(href="https://www.linkedin.com/in/diego-federico-tapia-a25986176/") Linkedin]
  p Repositorio #[a(href="https://gitlab.com/prueba358/challenge-backend-flow") GitLab]